/* root */
:root {

  /* text color */
  --primary-text-color: #151212;
  --secondary-text-color: #FFFFFF;
  --tertiary-text-color: #6F6C6C;
  --quaternary-text-color: #1669CF;
  --fifth-text-color: #C9C6C6;

  /* font-family */
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Horta', sans-serif;

  /* font-weight */
  --primary-font-weight: 400;
  --secondary-font-weight: 500;
  --tertiary-font-weight: 600;
  --quaternary-font-weight: 700;
  --fifth-font-weight: 800;

  /* border-color */
  --primary-border-color: #151212;
  --secondary-border-color: #6F6C6C;
  --tertiary-border-color: #C9C6C6;
  --quaternary-border-color: #1669CF;
  --fifth-border-color: #DD2323;

  /* btn-color */
  --primary-btn-color: #151212;
  --secondary-btn-color: #C9C6C6;
  --tertiary-btn-color: #DD2323;
  --quaternary-btn-color: #FF5555;
  --fifth-btn-color: #B50000;
  --six-btn-color: #C9C6C6;
  --seven-btn-color: #2A7DE3;
  --eight-btn-color: #0C5FA7;
  --nine-btn-color: #FFFFFF;
  --ten-btn-color: #5CAFFF;

  /* sticker-color */
  --primary-sticker-color: #0BA515;
  --secondary-sticker-color: #151212;
  --tertiary-sticker-color: #FF5555;

  /* background-color */
  --primary-background-color: #F3F3F3;
  --secondary-background-color: #28AE67;
  --tertiary-background-color: #FFFFFF;
  --quaternary-background-color: #1669CF;
  --fifth-background-color: #151212;
  }